<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h3>Details and associated Actions..!</h3><br>
    <table border="1" style="padding: 2% ;margin: 1%;">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Documents</th>
            <th>Delete</th>
            <th>Execute</th>            
        </tr>
        {% for d in doc %}
        <tr>
            <td>{{ d.title }}</td>
            <td>{{ d.description }}</td>
            <td><a href="{{ d.document.url }}" target="blank"><span>view</span></a></td>
            <td>
                <a href="/delete/{{ d.id }}"><span>Delete..</span></a>
            </td> 
            <td>
                <a href="/execute/{{ d.id }}"><span>Execute..</span></a>
            </td>    
        </tr>
        {% endfor %}
    </table>
    <br>
    <center>
        <a href="/upload">Add new Document...!</a>
    </center>
</body>
</html>