<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap-grid.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" media="all">
    <title>remote</title>
</head>

<body class="bg-dark text-info">
    <div class="container ">
        <div class="row ">
            <div class="col align-content-between position-relative">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>Execute Scripts available on the Server...!</h3>

                <form method="POST" action="/run" enctype="multipart/form-data" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Script Name</label>
                        <input type="text" id="name" class="form-control" name="scriptname" placeholder="Script Name"
                            ">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" onclick=" return check()">Run</button>
                    <script>
                        function check(){
                            var a = document.getElementById('name');
                            console.log(a.value);
                            if (!confirm("Want to execute " +a.value+ " ?")) {
                                return false;
                            }
                        }
                    </script>
                </form>
            </div>
            <div class="col align-content-between position-relative">
                <br>
                <br>
            
                <h3>Scripts available on server to execute..</h3>
                <ul  id="ul" class="list-group list-group-flush ">
                    {% for f in fnames %}
                    <li  id="{{ f }}"  class="list-group-item bg-dark"  onclick=" var a = document.getElementById('{{ f }}').innerHTML;
                        console.log(a);
                    document.getElementById('name').value=a">{{ f }}</li>
                   
                    {% endfor %}
                </ul>
               
            </div>
        </div>
    </div>
</body>

</html>