<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap-grid.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" media="all">
    <title>Document</title>
</head>
<body class="bg-dark text-info">
    <br>
    <br>
    <h3>Enter Details...!</h3>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            <table class="table table-borderless">
                <thead class="text-info">
                <tr>
                    <td>Title:</td>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                 <td>Description:</td>
                 <td>{{ form.description }}</td>
             </tr>
             <tr>
                 <td>Document:</td>
                 <td >{{ form.document }}</td>
             </tr>
             <tr>
                 <td><input type="submit" class=" btn btn-outline-info" value="Click to Upload.."></td>
                
             </tr>
            </thead>
            </table>   
        </div> 
    </form>
    <br>
    <center>
        <a href="/list" class=" btn btn-outline-info">Get All Uploads...!</a>
    </center>
</body>
</html>